body {
  background: rgb(150, 192, 247);
}

#dashboard {
  height: 30vh;
}

/* #setFavorite {
  border-radius: 12px;
  border: none;
  line-height: 2rem;
  width: 200px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  background: white;
  transition-duration: .3s;
  margin-top: 10px;
} */